<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- The 4.0.0-alpha VideoLAN.LibVLC.* nightlies the samples build against live here -->
    <add key="videolan-preview" value="https://f.feedz.io/videolan/preview/nuget/index.json" />
  </packageSources>
</configuration>
